bert-extractive-summarizer==0.10.1
Flask==2.1.2
huggingface-hub==0.8.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
sacremoses==0.0.53
scikit-learn==1.1.1
scipy==1.8.1
sentence-transformers==2.2.1
sentencepiece==0.1.96
spacy==3.3.1
tokenizers==0.12.1
transformers==4.20.1
Werkzeug==2.1.2
wincertstore==0.2
zipp==3.8.0
